pkgbase = ghcup-hs-bin
	pkgdesc = an installer for the general purpose language Haskell
	pkgver = 0.1.30.0
	pkgrel = 1
	url = https://www.haskell.org/ghcup/
	install = ghcup-hs-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = i686
	license = LGPL3
	optdepends = curl
	optdepends = wget
	optdepends = ncurses5-compat-libs: using older ghc's linking against libtinfo.so.5
	conflicts = ghcup-git
	source_x86_64 = ghcup-0.1.30.0-1-x86_64::https://downloads.haskell.org/~ghcup/0.1.30.0/x86_64-linux-ghcup-0.1.30.0
	sha256sums_x86_64 = fea4499d0cbdf71c554bfb7febebb81d1bcd09a4c4cfb7a90905ef9bff4931cb
	source_aarch64 = ghcup-0.1.30.0-1-aarch64::https://downloads.haskell.org/~ghcup/0.1.30.0/aarch64-linux-ghcup-0.1.30.0
	sha256sums_aarch64 = 20e7d3f4e4dfd3583f3af9f37d61ca19595c4c48bc318dffcf61f425ea1eda03
	source_armv7h = ghcup-0.1.30.0-1-armv7h::https://downloads.haskell.org/~ghcup/0.1.30.0/armv7-linux-ghcup-0.1.30.0
	sha256sums_armv7h = 6dfbe24f1a6e0e0a916d0e22739b7f926b1e020731707a1aacb2579bd7ddf77f
	source_i686 = ghcup-0.1.30.0-1-i686::https://downloads.haskell.org/~ghcup/0.1.30.0/i386-linux-ghcup-0.1.30.0
	sha256sums_i686 = 7267e2a77ff57fe71908dffae7970e560caf75536d50211d5c11555b673972f1

pkgname = ghcup-hs-bin
