pkgbase = ghcup-hs-bin
	pkgdesc = an installer for the general purpose language Haskell
	pkgver = 0.1.40.0
	pkgrel = 1
	url = https://www.haskell.org/ghcup/
	install = ghcup-hs-bin.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = i686
	license = LGPL3
	optdepends = curl
	optdepends = wget
	optdepends = ncurses5-compat-libs: using older ghc's linking against libtinfo.so.5
	conflicts = ghcup-git
	source_x86_64 = ghcup-0.1.40.0-1-x86_64::https://downloads.haskell.org/~ghcup/0.1.40.0/x86_64-linux-ghcup-0.1.40.0
	sha256sums_x86_64 = 70ca52b73ee796f5c43b4259f7fcedc2a0d60d85a6a9ed40a82ea8553fca34a0
	source_aarch64 = ghcup-0.1.40.0-1-aarch64::https://downloads.haskell.org/~ghcup/0.1.40.0/aarch64-linux-ghcup-0.1.40.0
	sha256sums_aarch64 = 86df64134ab8ca6d4e8b0980e94fc36a447ff09ea823885034a3dd5617e840f3
	source_armv7h = ghcup-0.1.40.0-1-armv7h::https://downloads.haskell.org/~ghcup/0.1.40.0/armv7-linux-ghcup-0.1.40.0
	sha256sums_armv7h = 262cf5717700f40b7b43d7a65e50b17aec7292bd7e104dba1461e29f6252e7fc
	source_i686 = ghcup-0.1.40.0-1-i686::https://downloads.haskell.org/~ghcup/0.1.40.0/i386-linux-ghcup-0.1.40.0
	sha256sums_i686 = 01bb5feeb15631d84163e67966b4d66461ef46a9ed36ff828b89adb558761241

pkgname = ghcup-hs-bin
