pkgbase = ghcup-hs-bin
	pkgdesc = an installer for the general purpose language Haskell
	pkgver = 0.1.50.2
	pkgrel = 1
	url = https://www.haskell.org/ghcup/
	install = ghcup-hs-bin.install
	arch = x86_64
	arch = aarch64
	arch = i686
	license = LGPL3
	optdepends = curl
	optdepends = wget
	optdepends = ncurses5-compat-libs: using older ghc's linking against libtinfo.so.5
	provides = ghcup-hs
	conflicts = ghcup-hs
	source_x86_64 = ghcup-0.1.50.2-1-x86_64::https://downloads.haskell.org/~ghcup/0.1.50.2/x86_64-linux-ghcup-0.1.50.2
	sha256sums_x86_64 = ff6288df9758211372d8242fe830d8e6be6a8365d9406f1c9bde144b7e744143
	source_aarch64 = ghcup-0.1.50.2-1-aarch64::https://downloads.haskell.org/~ghcup/0.1.50.2/aarch64-linux-ghcup-0.1.50.2
	sha256sums_aarch64 = a8f86745eb2381ca19f4ebd17652957c2e404dad8f7bb2bdfd62feab9fcf8ddd
	source_i686 = ghcup-0.1.50.2-1-i686::https://downloads.haskell.org/~ghcup/0.1.50.2/i386-linux-ghcup-0.1.50.2
	sha256sums_i686 = 0917829404b7aa9d9fe96cf3255c9aa58aa2cefe27c9353db0db095728fc5441

pkgname = ghcup-hs-bin
